/**
 * Numeric headline style of written contents
 */

.mce-content-body h1:before, .headlines-numeric h1::before { 
    content: counter(h1, decimal) " "; 
}
.mce-content-body h2:before, .headlines-numeric h2::before {
    content: counter(h1, decimal) "." counter(h2, decimal) " ";
}
.mce-content-body h3:before, .headlines-numeric h3::before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) " ";
}
.mce-content-body h4:before, .headlines-numeric h4::before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) " ";
}
.mce-content-body h5:before, .headlines-numeric h5::before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) " ";
}
.mce-content-body h6:before, .headlines-numeric h6::before {
    content: counter(h1, decimal) "." counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) "." counter(h6, decimal) " ";
}
