<div class="il-item-group">
	<form action="{FORM_ACTION}" method="POST">
		<!-- BEGIN title --><h3>{TITLE}</h3><!-- END title -->{ACTIONS}

		<!-- BEGIN actions -->{FORM_ACTION_BUTTON}<!-- END actions -->
		<div class="il-item-group-items">
			<!-- BEGIN item --><div class="il-std-item-container">{ITEM}</div><!-- END item -->
		</div>
		<!-- BEGIN select_all_checkbox -->
		<div class="ilTableSelectAll">
			<input type="checkbox" name="{CHECKBOXNAME}" id="{CHECKBOXNAME}" value="1" onClick="il.Util.setChecked('{SELECT_ALL_FORM_NAME}', '{SELECT_ALL_CHECKBOX_NAME}', document.forms['{SELECT_ALL_FORM_NAME}'].elements['{CHECKBOXNAME}'].checked);" />
			<label for="{CHECKBOXNAME}">{SELECT_ALL_TXT_SELECT_ALL}</label>
		</div>
		<div class="ilTableOuter">
			<div class="ilTableCommandRow form-inline">
				<div class="ilFloatLeft">
					<img src="{IMG_ARROW}" alt="{ALT_ARROW}" style="vertical-align:middle;"  />
					<!-- BEGIN multiple_cmd -->
					<select name="selected_cmd2" class=" form-control ">
						<!-- BEGIN cmd_option -->
						<option value="{CMD_VAL}">{CMD_NAME}</option>
						<!-- END cmd_option -->
					</select>
					<input class="btn btn-default" type="submit" name="select_cmd" value="{TXT_EXECUTE}" />
					<!-- END multiple_cmd -->
					<!-- BEGIN single_cmd -->
					<input class="btn btn-default" type="submit" name="{CMD_NAME}" value="{CMD_VAL}" />
					<!-- END single_cmd -->
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</form>

</div>